html {
  overflow: auto;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #111;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
}

h2 {
  color: #818181;
  margin: 0px;
  padding: 10px;
}

.list-view {
  top: 50px;
  float: left;
  max-height: 92.75%;
  width: 20%;
  position: fixed;
  margin: 0 auto;
  background-color: #111;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: scroll;
}

.map {
  float: left;
  position: fixed;
  margin-left: 11.5%;
  width: 80%;
  height: 100%;
  z-index: -1;
}

.list-view a {
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  cursor: pointer;
}

.search {
  /* width: 270px; */
  z-index: -1;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search input {
  width: 92%;
  padding: 10px 10px;
  font-size: 1em;
  border: none;
  outline: none;
}

.beaches-list {
  padding-left: 10px;
  overflow-y: auto;
}

.beach {
  color: white;
  padding-bottom: .5em;
}

ul {
  list-style: none;
}

.marker-info {
  font-size: .5em;
}

/* @media screen and (max-height: 450px) {
    .list-view {padding-top: 15px;}
    .list-view a {font-size: 18px;}
} */
